fastapi
uvicorn
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-multipart
python-dotenv
authlib
httpx
sqlalchemy
psycopg2-binary
langchain-google-genai
sentence-transformers
langchain-groq
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation
